@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Permanent+Marker&display=swap');


html,
body {
    background-color: #FF634D;
    margin: 0 auto;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 100%;
}



/* ----- TYPOGRAPHY----- */

h2 {
    font-size: 2em;
    color: #05386B;
    padding-top: .3em;
}


h3 {
    text-align: center;
    margin-bottom: 0;
    font-variant: normal;
}


/* ----- COMMON / UTILITY ELEMENTS----- */

.wrapper {
    max-width: 1200px;
    margin: 0 auto;

}

a {
    text-decoration: none;
    color: #EDF5E1;
    -webkit-transition: color 0.30s;
    transition: color 0.30s;
}

a:hover {
    color: #FDD982;
}





/* ----- HEADER and NAV -----*/
header {
    font-variant: small-caps;
    font-size: 2em;
    text-decoration: none;
    background: #05386B;
    border-bottom: 3px solid #FDD982;
    padding: 0em 1em;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}


.logo {
    margin-top: .8em;
    margin-left: .5em;

}

.logo img {
    height: auto;
    background-image: url(logo.svg);

}

.logo img:hover {
    background-image: url(logo2.svg);
}


#signin div {
    margin: 0 auto;
    margin-top: .5em;
    background: #EDF5E1;
    border-radius: 5px;
    padding: .2em;
    margin-bottom: .5em;
    width: 100%;
    max-width: 300px;
    margin-right: 0;
}

#signin div label {
    font-size: .65em;
    margin: 0 auto;
    color: #05386B;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;

}

#signin div label:first-child input[type=text] {
    width: 89.5%;
    margin-left: 2%;
}

#signin div label input[type=text],
#signin div label input[type=password] {
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 90%;
    margin-left: .3em;
}

#signin div input[type=button] {
    padding: .5em 1em;
    margin: 0 auto;
    display: block;
    margin-top: .3em;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #05386B;
    font-family: Impact, Charcoal, sans-serif;
    width: 30%;
    height: auto;

}

#signin p {
    font-size: .8em;
    text-align: center;
    color: #05386B;
    display: none;
}

.hamburger {
    display: none;
}

nav ul {
    color: #EDF5E1;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 0;
    margin: 0;
    list-style: none;
    padding-top: 1.2em;

}

nav ul li {
    position: relative;
    padding: 15px 0;
    cursor: pointer;
    font-size: .9em;
    -webkit-transition: color 0.30s;
    transition: color 0.30s;

}

nav ul li:hover {
    color: #FDD982;
}


nav ul li ul {
    padding: 0;
    position: absolute;
    top: 1.8em;
    left: 0;
    width: 80%;
    display: block;
    opacity: 0;
    -webkit-transition: height 0.30s;
    transition: height 0.30s;
    height: 0;
    z-index: 5;
}

nav ul li ul li {
    background-color: #05386B;
    display: block;
    font-size: .70em;
    width: 8.5em;
    text-align: center;
    padding: 0em;
    border-bottom: .1em #EDF5E1 solid;
    height: 40%;
}

nav ul li ul li:hover a {
    color: #05386B;

}

nav ul li ul li:hover {
    background-color: #EDF5E1;


}

nav ul li:hover ul {
    opacity: 1;
    height: 100%;
}



/* ----- FOOTER -----*/
footer {
    background-color: rgba(5, 56, 107, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    font-family: Impact, Charcoal, sans-serif;
    color: #05386B;
    font-variant: small-caps;
    font-size: 1.3em;
}

footer p {
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.5);


}

footer img {
    height: 3em;
    width: 5em;
    background-image: url(commentarrow1.svg);
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat
}

footer:hover img {
    height: 3em;
    width: 5em;
    background-image: url(commentarrow2.svg);
    background-position: center;
    background-size: 4em;
    background-repeat: no-repeat;
}

.comments {
    display: none;

}

.comments.activeState {
    display: block;
}

.comments label {
    font-size: 1.5em;
}

.comments div input[type=text] {

    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    margin-left: .3em;
}

.comments div input[type=submit],
.comments div input[type=button] {
    padding: .5em 1em;
    margin-top: .3em;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #05386B;
    font-family: Impact, Charcoal, sans-serif;
    -webkit-transition: color 1s;
    transition: color 1s;


}



/* ----- STRUCTURAL LAYOUT -----*/

.wrapper {
    padding: 1em;
    display: grid;
    grid-template-columns: 100fr 100fr 1fr;
    width: 100%;
    height: auto;

}

.wrapper section {
    padding: 1em;
}

.wrapper img {
    border: 5px #05386B solid;
    width: 100%;
    object-fit: cover;
    max-height: 400px;
    z-index: 0;

}

.wrapper p {
    display: none;
    font-size: 10em;
    text-align: center;
    margin: 0;
    line-height: 2.5em;
    z-index: 3;
    background: none;
    color: #EDF5E1;
    position: absolute;
    text-shadow: 7px 7px #05386B;
}

.wrapper div {
    display: none;
    height: 0;
    position: absolute;
    background: #FDD982;
    border: 5px #05386B solid;
    opacity: 80%;
    max-height: none;

}

.wrapper .imgTop {
    background: #05386B;
    border: 5px #05386B solid;
    margin: 0;
    border-bottom: none;
    z-index: 2;
    position: absolute;
    opacity: 70%;
    -webkit-transition: height 2s;
    transition: height 2s;

}



#nextquestionarrow {
    width: 4em;
    border: none;
    margin: auto;
    margin-right: -4em;

}



section button {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #EDF5E1;
    border: none;
    padding: .5em;
    background: #05386B;
    margin: auto;
    display: block;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: color 0.30s;
    transition: color 0.30s;
}

section button:hover {
    color: #FDD982;
    cursor: pointer;
}

main h2 {
    margin: 0 auto;
    display: block;
    color: #EDF5E1;
    text-align: center;
    width: 100%;
    text-shadow: 4px 4px #05386B;
    font-weight: 100;
}

.categorygrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0;

}


.categoryitem {
    margin: 3em;
    margin-top: 1em;
    list-style: none;
}

.categoryitem h3 {
    margin: 0;
    color: #EDF5E1;
    background: #05386B;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.5rem;
    font-variant: small-caps;
    font-weight: 100;
    width: 100%;
    text-align: center;
    height: 2.5em;
    padding-top: 1em;
    border: 3px #FDD982 solid;

}

.categoryitem p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #05386B;
}

.hamburgerbackground {
    display: none;
}

.mobilenav {
    display: none;

}




main div label {
    color: #05386B;
    margin: 0 auto;
    display: block;
    margin-top: .5em;
    font-size: 1.5em;
    line-height: 1.3em;
    text-align: center;

}


main div input[type=text],
main div input[type=password] {
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-left: .3em;
    width: 20%;
}

main div input[type=submit],
main div input[type=button] {

    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #EDF5E1;
    border: none;
    padding: .5em;
    background: #05386B;
    margin: .5em auto;
    display: block;
    border-radius: 5px;

}

main div input[type=submit]:hover,
main div input[type=button]:hover {

    color: #FDD982;

}

main div input[type=submit]:hover {
    color: #FDD982;
    cursor: pointer;
}


/* ----- MEDIA QUERIES -----*/

@media screen and (max-width: 1340px) {
    .wrapper {
        width: 87%;
    }
}


@media screen and (max-width: 1140px) {

    .wrapper p {
        font-size: 8em;
    }

    .wrapper {
        padding: 1em;
        display: grid;
        grid-template-columns: 100fr 100fr 1fr;
        width: 87%;
        height: auto;
    }

    .wrapper section {
        padding-bottom: 3em;
    }

    header {
        padding: 0;
        padding-top: .1em;
        grid-template-columns: 7fr 1fr;
        width: 100%;
    }

    .logo {
        padding: 0;
        margin: 0;
        margin-top: .6em;
        padding-left: .8em;
    }


    nav {
        display: none;
    }


    #signin {
        display: none;
    }

    .hamburger {
        display: block;
        padding: .8em;
        cursor: pointer;
        z-index: 2;
    }

    .line {
        width: 2em;
        height: .2em;
        background: #EDF5E1;
        margin: .4em;
        border-radius: 5px;
    }

    .hamburger:hover .line {
        background: #FDD982;
    }


    .hamburgerbackground.activeState {
        display: block;
        position: absolute;
        background: #05386B;
        width: 100%;
        height: 100%;
        z-index: -1;

    }

    main.activeState {
        display: none;
    }

    .mobilenav.activeState {
        display: block;
        margin: 0;
        background: #05386B;
        text-decoration: none;
        list-style: none;
        padding-top: 1em;
    }

    .mobilenav.activeState li {
        padding: 10px;
        font-size: 2em;
    }



    .mobilecategories li a {
        color: #05386B;
        font-size: 3em;
        text-align: center;

    }

    .mobilecategories li {
        text-decoration: none;
        list-style: none;
        width: 27em;
        line-height: 4em;
        font-variant: small-caps;
        text-align: center;
    }

    .mobilecategories li a:hover {
        color: #FDD982;
    }


    .mobilenav li a {
        border-bottom: 2px #EDF5E1 solid;
        font-size: 1.5em;
        line-height: 1.5em;
        font-variant: small-caps;
    }


    .mobilenav li a:hover {
        border-bottom: 2px #EDF5E1 dashed;
        font-size: 1.5em;
        line-height: 1.5em;
    }



    .categoryitem {
        width: 80%;
        margin: 0 auto;
    }

    .categoryitem {
        margin-top: 1em;
    }

    .categorygrid {
        display: block;
    }




    main div input[type=text],
    main div input[type=password] {
        width: 40%;
    }

    #nextquestionarrow {
        width: 3em;
        border: none;
        margin-right: -3em;
    }

}


@media screen and (max-width: 850px) {
    .wrapper {
        display: block;
    }

    .wrapper img {
        max-height: none;
    }

    .wrapper p {
        font-size: 10em;
    }

    #nextquestionarrow {
        margin: 0 auto;
        display: block;
        width: 4em;
    }

    .mobilenav li a {
        border-bottom: 2px #EDF5E1 solid;
        font-size: 1.5em;
        line-height: 1.5em;
        font-variant: small-caps;
    }


}


@media screen and (max-width: 450px) {


    .mobilenav li a {
        border-bottom: 2px #EDF5E1 solid;
        font-size: 1.2em;
        line-height: 1.5em;
        font-variant: small-caps;
    }

    .mobilecategories li {
        text-decoration: none;
        list-style: none;
        width: auto;
        line-height: 4em;
        font-variant: small-caps;
        text-align: left;
        font-size: .8em;
    }


}
